# LLM configuration 
CONTEXT_WINDOW=16000
MAX_TOKENS=256
TEMPERATURE=0.7
MODEL="meta-llama/Llama-4-Scout-17B-16E-Instruct"

# providers settings
DEFAULT_PROVIDER="openrouter"
TOGETHER_API_KEY=""
TOGETHER_API_URL="https://api.together.ai/v1"
OPENROUTER_API_KEY=""
OPENROUTER_API_URL="https://openrouter.ai/api/v1"
OPENAI_API_KEY=""
OPENAI_API_URL="https://api.openai.com"
GOOGLE_API_KEY=""
GOOGLE_MODEL=""

# Weather API settings
OWM_API_KEY=""
BASE_URL="https://api.openweathermap.org/data/2.5/weather?"
OWM_MAX_TOKENS=128

# Output tokens settings
OUTPUT_MIN_TOKENS=0
OUTPUT_MAX_TOKENS=768